.app-form {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr auto;
    gap: 12px;

    align-items: stretch;

    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px auto;

    background: #f9f9f9;
    border-radius: 10px;
}

/* GLOBAL RESET FOR FORM ELEMENTS */
.app-form input,
.app-form select,
.app-form button {
    width: 100%;
    height: 38px;

    padding: 0 10px;
    font-size: 14px;

    border-radius: 6px;
    box-sizing: border-box;
}

/* inputs + select */
.app-form input,
.app-form select {
    border: 1px solid #ccc;
    background: white;
}

/* focus */
.app-form input:focus,
.app-form select:focus {
    outline: none;
    border-color: #4f46e5;
}

/* button */
.app-form button {
    border: none;
    background: #4f46e5;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.app-form button:hover {
    background: #4338ca;
}

/* mobile */
@media (max-width: 755px) {
    .app-form {
        grid-template-columns: 1fr;
    }
}